MSH|^~\&|HNA500UI|$sendingCode^Welltown Memorial Hospital|KPININJA||$messageTime||ORU^R01|81||2.3.1||||||8859/1
PID|$setId|$employeeId|1234efgh5678c3po9101mnop2345qrst6789abcf^^^^^$sendingCode~$employeeId|$employeeId|$FamilyName^$Name^$middleName^||$dob|$gender||2106-3^White|8 CORABEL LN^^NEPENTHE^CA^54904^USA||(408)-355-9426^PRN^PH^^1^920^2523000^^|^^^^^^^^|eng^English|$martialStatus|$Religion|NCC80102A|001-02-0003||^^^^^|N|Alaska|||United Federation of Planets|Y|Earth||N|
PD1|||.^^0|1427256734^Benson^Rae^L
PV1||O|^^^MOBILE HEALTH TEAM - NEPENTHE*||||4^DIETITIAN SCHEDULE^^||||||||||1629097654^LIEBESKIND^ANN^MARIE||NCC80102A|STARFLEET Retirement Plan||||||||||||||||||||||||240212281607||||||||
OBR|1|4016312834^HNAM_ORDERID||Comprehensive Metabolic Panel Standard^Comprehensive Metabolic Panel Standard|||240212281732|||950^Byom^McKenzee^^^^^^WELLTOWN MEMORIAL_ID External ID^Personnel^^^External Identifier~950^Byom^McKenzee^^^^^^WELLTOWN MEMORIAL_ID PRSNLID^Personnel^^^PRSNLID~71383^Byom^McKenzee^^^^^^PERSONNEL PRIMARY IDENTIFIER^Personnel^^^Personnel Primary Identifier||||240212281732|Blood&Blood|1811992589^Miskell^Melissa^H||||000272020346000110^HNA_ACCN~14529507^HNA_ACCNID||20201212115941||LABORATORY|Auth (Verified)|Preventative Panel, RISE&Preventative Panel, RISE|1^^^240212281732^^RT~^^^240212281732^^RT - Routine||4401631193&HNAM_ORDERID|||||||240212281732
